* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.header-section{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    padding-left: 150px;
    padding-right: 150px;
}
.primary-button{
    padding: 10px 20px;
    border: 0px;
    border-radius: 5px;
    background-color: #E55473;
    color: white;
}

.header-text{
    width: 50%;
}
.header-title{
    font-size: 50px;
    font-weight: bolder;
}
.header-desc{
    width: 70%;
    padding: 10px 0px;
}
.header-image{
    height: 450px;
    margin-top: 50px;
}
.header-section-img{
    padding-top: 70px;
    text-align: center;
    font-style: bold;
}
.header-type{
    width: 70%;
    margin: auto;
    padding: 10px 0px;
    color: rgba(39, 39, 39, 0.60);
}

.featured-img-title{
    text-align: center;
    margin: 10px 0px;
}

.img-add{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
} 

.image-box{
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);    
    width: 300px;
    align-items: center;
    height: 350px;
}
.image-box .image{
    height: 300px;
    border-radius: 300px 300px 0px 0px;
    margin: auto;
    padding-top:50px
}
.deal-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    background-color: rgba(229, 84, 115, 0.10);
    margin-top: 100px;
    padding: 0px 180px;
}
.deal-title{
    font-size: 25px;
}
.deal-left{
    width: 50%;
}
.deal-image{
    height: 200px;
}
.deal-section-two{
    display: flex;
    flex-direction: row;
    margin: 0px;
}
.deal-img{
    width: 270px;
    padding-left: 15px;
    margin-top: 20px;
}
.background-setup{
    background-image: url("images/Rectangle\ 9.png");
    margin-top: 10%;
    width: 1142px;
    height: 442px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.footer, footer-type{
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
    width: 1142px;
    height: 400px;
    background-color: black;
    color: azure;
    text-align: center;
}
.footer-type{
    padding-top: 100px;
}
.red{
    color: #E55473;
}
